name: Playwright Tests

on:
  workflow_dispatch:
    inputs:
      env:
        description: "Select Environment"
        required: true
        default: "QAT"
        type: choice
        options:
          - DEV
          - QAT
          - UAT

jobs:
  test:
    runs-on: ubuntu-latest

    # Define all secrets globally
    env:
      USERNAME_DEV: ${{ secrets.LOGIN_USERNAME_DEV }}
      PASSWORD_DEV: ${{ secrets.LOGIN_PASSWORD_DEV }}
      USERNAME_QAT: ${{ secrets.LOGIN_USERNAME_QAT }}
      PASSWORD_QAT: ${{ secrets.LOGIN_PASSWORD_QAT }}
      USERNAME_UAT: ${{ secrets.LOGIN_USERNAME_UAT }}
      PASSWORD_UAT: ${{ secrets.LOGIN_PASSWORD_UAT }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Clean previous reports
        run: |
          rm -rf my-report/
          rm -rf playwright-report/
          rm -rf test-results/
      - run: npm ci
      - run: npx playwright install --with-deps

      # Map username/password based on selected environment
      - name: Set ENV specific USERNAME/PASSWORD
        env:
          TEST_ENV: ${{ github.event.inputs.env }}
        run: |
          echo "Selected environment: $TEST_ENV"
          case "$TEST_ENV" in
            DEV)
              echo "USERNAME=${USERNAME_DEV}" >> $GITHUB_ENV
              echo "PASSWORD=${PASSWORD_DEV}" >> $GITHUB_ENV
              ;;
            QAT)
              echo "USERNAME=${USERNAME_QAT}" >> $GITHUB_ENV
              echo "PASSWORD=${PASSWORD_QAT}" >> $GITHUB_ENV
              ;;
            UAT)
              echo "USERNAME=${USERNAME_UAT}" >> $GITHUB_ENV
              echo "PASSWORD=${PASSWORD_UAT}" >> $GITHUB_ENV
              ;;
          esac
      - name: Run Playwright Tests
        env:
          TEST_ENV: ${{ github.event.inputs.env }}
          USERNAME: ${{ env.USERNAME }}
          PASSWORD: ${{ env.PASSWORD }}
        run: |
          echo "Running Playwright tests on environment: $TEST_ENV"
          npx playwright test
      # Upload Ortoni report
      - name: Upload Ortoni Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ortoni-report
          path: my-report/
          retention-days: 30

      # Upload Playwright HTML report
      - name: Generate and Upload Playwright HTML Report
        run: npx playwright show-report playwright-report || true
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-html-report
          path: playwright-report/
          retention-days: 30

      # Upload Playwright test artifacts (screenshots, videos, traces)
      - name: Upload Playwright Test Results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-artifacts
          path: test-results/
          retention-days: 31
