name: Playwright Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Install dependencies
      run: npm ci

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Run Playwright tests
      run: npx playwright test

    # ----------------------------------------------------
    # Upload Ortoni report
    # ----------------------------------------------------
    - name: Upload Ortoni Report
      uses: actions/upload-artifact@v4
      if: ${{ always() }}
      with:
        name: ortoni-report
        path: test-results/my-report/
        retention-days: 30

    # ----------------------------------------------------
    # Upload Playwright test artifacts (screenshots, videos, traces)
    # ----------------------------------------------------
    - name: Upload Playwright Test Results
      uses: actions/upload-artifact@v4
      if: ${{ always() }}
      with:
        name: playwright-artifacts
        path: test-results/
        retention-days: 30
